<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "true"
    stopOnFailure               = "false"
    verbose                     = "true"
    bootstrap                   = "vendor/autoload.php">
    <php>
        <ini name="date.timezone" value="Pacific/Auckland"/>
        <!--<env name="APP_ENV" value="testing"/>-->
        <env name="DB_CONNECTION" value="testing"/>
    </php>

    <testsuites>
        <testsuite name="FlashCard Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>tests/</directory>
                <directory>routes/</directory>
                <directory>database/</directory>
                <directory>docs/</directory>
                <directory>vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>

