{% extends 'MooFlashCardBundle::base.html.twig' %}

{% block metas %}
    {{ parent() }}
    <meta name="keywords" content="{% trans %}meta_index_keywords{% endtrans %}"/>
    <meta name="description" content="{% trans %}meta_index_description{% endtrans %}"/>
{% endblock metas %}

{% block init_javascript %}
    <script type="text/javascript">
        jQuery(function ($) {
            moofc.init(moofc.homepage, {
                container: $('#fc-cards')
            });
            moofc.init(moofc.search, {
                waitMessage: '{% trans %}Loading more...{% endtrans %}',
                limit: '{{ limit }}',
                loadMore: {
                    completeMessage: '{% trans %}All cards are loaded!{% endtrans %}'
                }
            });
        });
    </script>
{% endblock %}

{% block page_body_tag %}
<body class="fc-homepage">
{% endblock %}

{% block body %}
    <div id="fc-cards">
        {{ include('MooFlashCardBundle:Card:list.html.twig', { 'cards': cards }) }}
    </div>
    {% if cards and cards.getTotalItemCount() > cards.count() %}
        <button type="button" class="btn btn-default btn-lg btn-block" id="fc-loadmore">
            {% trans %}Load more...{% endtrans %}
        </button>
    {% endif %}
{% endblock %}
