
.page-header {
  padding: 40px 0 1px;
  background: rgb(248, 248, 248);
  margin:0 0 20px 0;
}

.container {
  padding: 0;

  .fc-card {
    margin-top: 5%;
  }
}

.container-inner {
  padding: 0 15px;
  text-align: left;
  overflow: hidden;
}

footer {
  padding: 20px 0;
}
