.fc-homepage .container-inner {
  padding: 0;
}
.nav .dropdown-menu .label {
  float: right;
  margin-top: 2px;
}
nav .container {
  padding: 0 2%;
}
@media (min-width: 768px) {
  nav .container {
    padding: 0;
  }
}
nav .navbar-default .navbar-form {
  border: 0 none;
}
#fc-modal {
  background: #E2F3F6;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  opacity: 0.6;
  z-index: 0;
}
#fc-cards {
  overflow: hidden;
  margin-bottom: 20px;
  clear: both;
}
#fc-cards .fc-cardwrap {
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}
@media (min-width: 768px) {
  #fc-cards .fc-cardwrap {
    height: 168px;
  }
}
#fc-cards .fc-cardwrap.open {
  position: absolute;
  left: 50%;
  z-index: 999;
}
#fc-cards .fc-cardwrap.open > .dropdown-menu {
  display: none;
}
#fc-cards .fc-cardwrap.open.fc-cardwrap {
  height: auto;
  width: 100%;
}
@media (min-width: 768px) {
  #fc-cards .fc-cardwrap.open.fc-cardwrap {
    width: 75%;
  }
}
@media (min-width: 992px) {
  #fc-cards .fc-cardwrap.open.fc-cardwrap {
    width: 65%;
  }
}
#fc-cards .fc-cardwrap.open.fc-cardwrap .fc-card {
  width: 100%;
}
#fc-cards .fc-cardwrap.open .fc-cardwrap-inner {
  background: #fff;
  height: auto;
}
@media (min-width: 768px) {
  #fc-cards .fc-cardwrap .fc-card {
    width: 500px;
  }
}
#fc-cards .fc-cardwrap .fc-cardwrap-inner {
  outline: 1px solid #E7E7E7;
  overflow: hidden;
}
#fc-cards .fc-cardwrap .fc-cardwrap-inner,
#fc-cards .fc-cardwrap .fc-cardcover {
  margin: 15px 4%;
  padding: 8px;
}
@media (min-width: 768px) {
  #fc-cards .fc-cardwrap .fc-cardwrap-inner,
  #fc-cards .fc-cardwrap .fc-cardcover {
    height: 90%;
  }
}
#fc-cards .fc-cardwrap .fc-cardcover {
  position: absolute;
  background: #E2F3F6;
  font-size: 14px;
  color: #111;
  opacity: 0.5;
  cursor: pointer;
  top: 0;
  width: 92%;
}
