.page-header {
  padding: 40px 0 1px;
  background: #f8f8f8;
  margin: 0 0 20px 0;
}
.container {
  padding: 0;
}
.container .fc-card {
  margin-top: 5%;
}
.container-inner {
  padding: 0 15px;
  text-align: left;
  overflow: hidden;
}
footer {
  padding: 20px 0;
}
